        body{
            background:rgb(50, 52, 85)
            }
        a{
            color: white; text-decoration: none
            
            }
        #video {
            position : fixed;
            top : 0; 
            left : 0;
            bottom: 0;
            right: 0;
            min-width : 100%;
            min-height : 100%;
            width : auto;
            height : auto;
            z-index : -1;
        }
